body {
    background-color: rgb(0, 0, 0);
}

footer{
color: mediumturquoise;
text-align: center;

}

h1, h2, p{
    text-align: center;
    color: mintcream;
}




/*Elements*/
#timer{
    text-align: end;
    color:mintcream
}

#answers{
    position:absolute;
    top: 50%;
    left: 44%;

}



/*Classes*/
button{
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    font-size: 100%;
    /* background-color: #563d7c; */
    border-radius: 5px;
    padding: 2px 10px;
    color: rgb(35, 8, 124);
    border: 0;
    transition: background-color 0.1s;
}
.hidden{
    display: none;
}
.reveal{
    display:block;
}