body {
    background-color: rgb(82, 0, 82);
}

footer{
color: mediumturquoise;
text-align: center;

}

h1, p{
    text-align: center;
    color: mintcream;
}




/*Elements*/
#timer{
    text-align: end;
    color:mintcream
}

#answers{
    position:absolute;
    top: 50%;
    left: 44%;

}
#quizPage, 
#endScreen {
display: none;


}


/*Classes*/
.button{
    /* height:50px;
    width:100px;
    display: flex;
    cursor: pointer;
    border: solid maroon;
    padding: 100px;
    
     */
}
.hidden{
    display: none;
}
.reveal{
    display:block;
}